body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("http://en.nicetourisme.com/resources/sliders/photos/99/thumbs/9_0_56a61a2233e02_9a807bcc318477489cbebcd3077c01fc7d88b00c.jpg");
}

a {
  color: #00B7FF;
}


form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: 500px;
}

a.close {
  float: right;
}
